:root {
    --color-flickr-pink: #F72585;
    --color-byzantine: #B5179E;
    --color-purple: #7209B7;
    --color-purple-1: #560BAD;
    --color-trypan-blue-1: #480CA8;
    --color-Trypan-Blue: #3A0CA3;
    --color-persian-blue: #3F37C9;
    --color-ultra-marine-blue: #4361EE;
    --color-dodger-blue: #4895EF;
    --color-Vivid-Sky-Blue: #4CC9F0;
    --font-style: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: var(--font-style);
}

/* navbar code start from here */
nav ul{
    display:flex;    
}
body{
    background-color: #3A0CA3;
}
/* navbar code ends from here */